/* body {
  overflow-y: scroll;
} */

.App-body{
  padding-bottom: 50px;
}


/* For scrolling */

body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #343A40;
}

body::-webkit-scrollbar-track-piece:start {
  background: solid;
  background-color: #007BFF;
}

body::-webkit-scrollbar-track-piece:end {
  background: solid;
  background-color: #007BFF;
}


.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
